PORT=1234
MONGO_URI=<mongo_db_uri>
DB_USERNAME=<mongo_db_user>
DB_PASSWORD=<mongo_db_password>
JWT_SECRET=<jwt_secret_key>
ENCRYPTION_KEY=<aes_encryption_key>
FRONTEND_URL=http://localhost:5173
NODE_ENV=development